{% if (ctx.prefix || ctx.suffix) { %}
<div class="input-group">
{% } %}
{% if (ctx.prefix) { %}
  <div class="input-group-prepend" ref="prefix">
    <span class="input-group-text">
      {% if(ctx.prefix instanceof HTMLElement){ %}
        {{ ctx.t(ctx.prefix.outerHTML, { _userInput: true }) }}
      {% } else{ %}
        {{ ctx.t(ctx.prefix, { _userInput: true }) }}
      {% } %}
    </span>
  </div>
{% } %}
<div style="position: relative; width: 100%;">
  <textarea
    ref="input"
    {% for (var attr in ctx.input.attr) { %}
      {{attr}}="{{ctx.input.attr[attr]}}"
    {% } %}s
    id="{{ctx.instance.id}}-{{ctx.component.key}}"
    aria-labelledby="l-{{ctx.instance.id}}-{{ctx.component.key}} {% if (ctx.component.description) { %}d-{{ctx.instance.id}}-{{ctx.component.key}}{% } %}"
    aria-required="{{ctx.component.validate.required}}"
    style="padding-bottom: 40px; width: 100%;"
  >{{ctx.value}}</textarea>
  <button
    ref="addButton"
    type="button"
    class="btn btn-primary btn-sm"
    style="position: absolute; left: 5px; bottom: 5px; padding: 4px 10px; z-index: 10;"
    title="Click to select data"
  >
    <i class="fa fa-plus"></i>
  </button>
</div>
{% if (ctx.suffix) { %}
  <div class="input-group-append" ref="suffix">
    <span class="input-group-text">
      {% if(ctx.suffix instanceof HTMLElement){ %}
        {{ ctx.t(ctx.suffix.outerHTML, { _userInput: true }) }}
      {% } else{ %}
        {{ ctx.t(ctx.suffix, { _userInput: true }) }}
      {% } %}
    </span>
  </div>
{% } %}
{% if (ctx.prefix || ctx.suffix) { %}
</div>
{% } %}
